[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
google-cloud-bigquery = "*"
google-cloud-bigquery-storage = "*"
pandas = "*"
pyarrow = "*"
pymongo = "*"
dnspython = "*"
requests = "*"
PyMySQL = "*"
redis = "*"

[dev-packages]

[requires]
python_version = "3.9"
